{{ define "main" }}

  <div class="article-meta">
    <h1 id="title">{{ .Title | markdownify }}</h1>
  </div>

  <div class="article-main">
    {{ .Content }}

    <br>

    <h2><i class='fas fa-university'></i> Education</h2>

    <hr>

    {{ partial "education" . }}

    <br>

    <h2><i class='fas fa-comment'></i> Communications</h2>

    <hr>

    <h3><i class='fas fa-users'></i> Conference talks</h3>

    {{ partial "talks" . }}

    <br>


    <h3><i class='fas fa-chalkboard-teacher'></i> Seminars</h3>

    {{ partial "seminar" . }}

    <br>


    <h3><i class='fas far fa-images'></i> Posters</h3>

    {{ partial "poster" . }}

  </div>

{{ end }}
