<ol reversed>
  {{ $letk := "David" | truncate 1 "." }}
  {{ range .Site.Data.technical.technical }}
  <li class="pubs_li">
    {{ $len := len .author }}
    {{ $len2 := sub $len 1 }}
    {{ range $i, $e := .author}}
      {{ $let := .given | truncate 1 "." }}
      {{ if (and (eq .family "Beauchesne") (eq $let $letk)) }}
        <b><span style="color: #b95821;">
          {{ .family }} {{ $let }}</span></b>{{ if eq $len2 $i }}.{{ else }},{{ end }}
      {{ else }}
        {{ .family }} {{ $let }}{{ if eq $len2 $i }}{{ else }},{{ end }}
      {{ end }}
    {{ end }}
    {{ range .issued }}
      ({{ .year }}).
    {{ end }}
    <b>{{ .title }}</b>
    {{ if .container }}
      {{ .container }}.
    {{ end }}
    {{ if .volume }}
      <em>{{ .volume }}</em>{{ if .issue }}({{ .issue }}){{ end }}
    {{ end }}
    {{ if .DOI }}<i class='ai ai-doi'></i> <a href="{{ .URL }}">{{ .DOI }}</a>{{ end }}
    {{ if .pdf }}<a href="{{ .pdf }}"><i class="far fa-file-pdf" aria-hidden="true"></i></a>{{ end }}
  </li>
  {{ end }}
</ol>
